<!DOCTYPE html>
<html>
<head>
  <title>Settings Page</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
<header>
    <nav>
        <div class="logo"><a href="/">Heat Pump Dashboard</a></div>
        <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/chart">Usage</a></li>
        <li><a href="/settings">Settings</a></li>
        </ul>
    </nav>
</header>
  <div class="container mt-5">
    <h1 class="mb-4">Settings Page</h1>
    <form id="settings-form">
      <div class="row">
        <script>
          for (let hour = 0; hour < 24; hour++) {
            const startHour = hour.toString().padStart(2, '0');
            const endHour = ((hour + 1) % 24).toString().padStart(2, '0');
            
            document.write(`
              <div class="col-md-2">
                <label for="value-${startHour}-${endHour}">Hour ${startHour}-${endHour}</label>
                <input type="number" min="-10" max="10" id="value-${startHour}-${endHour}" name="value-${startHour}-${endHour}" class="form-control" value="0" required>
              </div>
            `);
          }
        </script>
      </div>
      <div class="form-group mt-3">
        <button type="button" onclick="saveSettings()" class="btn btn-primary">Save Settings</button>
        <button type="button" onclick="resetSettings()" class="btn btn-primary">Reset Settings</button>
      </div>
    </form>
  </div>
  <script src="/static/script.js"></script>
  <footer>
    <p>©Copyright <a href="https://github.com/Ramlov/">AAU Group 251</a></p>
  </footer>
</body>
</html>
