/*Setting for whole page*/
* {
    font-family: verdana;
}

/*Navigation Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(88, 111, 107);
  }
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(123, 142, 126);
    transition: .15s;
}

li a.active{
    background: rgb(66, 77, 68); /* Menu options in navbar */
    transition: .15s;
}

/*Setting the margin for the div's*/
.margin{
    margin-left: 20px;
}
.heading{
    font-size: 30px;
}
.subheading{
    font-size: 18px;
    text-decoration: underline;
}

/*Boxes*/
.valuebox{
    display: inline-block;
    background-color: rgba(88, 111, 107, .8);
    border-top-color: rgb(123, 142, 126);
    border-left-color: rgb(123, 142, 126);
    border-right-color: rgb(156, 171, 158);
    border-bottom-color: rgb(156, 171, 158);
    border-radius: 20px;
    border-style: inset;
    color: white;
    height:100px; 
    width: 160px; 
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}


.valuepara{
    display: inline-block;
    color: white;
    text-decoration: none;
    display: block;
}

/*Slider*/
.slidecontainer{
    display: inline-block;
}
.value{
    border-style: solid;
    background-color: rgba(88, 111, 107, .8);
    border-top-color: rgb(123, 142, 126);
    border-left-color: rgb(123, 142, 126);
    border-right-color: rgb(156, 171, 158);
    border-bottom-color: rgb(156, 171, 158);
    border-radius: 20px;
    border-style: solid;
    color: white;
    height:20px; 
    width: 160px; 
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}
.slider {
    -webkit-appearance: none;
    width: 300px;
    height: 15px;
    border-radius: 5px;  
    background: #8a8a8a;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(88, 111, 107);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(88, 111, 107);
    cursor: pointer;
  }

.submitbutton{
background-color:rgba(88, 111, 107, .8);
height: 30px;
width: 100px;
color: white;
border-radius: 6px;
margin-top: 4px;
cursor: pointer;
transition: 0.15s;
}

.submitbutton:hover{
    background-color: rgb(123, 142, 126);
}

.submitbutton:active{
    background-color: rgb(66, 77, 68);
}

