<!DOCTYPE html>
<html>
<head>
    <title>Pulse Data Chart</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <!-- Include Plotly.js library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <nav>
          <div class="logo"><a href="/">Heat Pump Dashboard</a></div>
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/chart">Usage</a></li>
            <li><a href="/settings">Settings</a></li>
          </ul>
        </nav>
      </header>
      <section id="info-boxes">
        <div class="info-box">
          <h3>Last day usage</h2>
          <p> {{ usage1daykwh }} KwH <br> {{ usage1daydkk }} DKK</p>
        </div>
        <div class="info-box">
          <h3>Last week usage</h2>
            <p> {{ usage7daykwh }} KwH <br> {{ usage7daydkk }} DKK</p>
        </div>
        <div class="info-box">
          <h3>Last month usage</h2>
            <p> {{ usage30daykwh }} KwH <br> {{ usage30daydkk }} DKK</p>
        </div>
        <div class="info-box">
          <h3>Last year usage</h2>
            <p> {{ usage365daykwh }} KwH <br> {{ usage365daydkk }} DKK</p>
        </div>
      </section>
    <h1>Pulse Data Chart</h1>
    <div id="chart-container">
        <!-- Placeholder for the chart -->
        {{ chart|safe }}
    </div>


    <footer>
      <p>©Copyright <a href="https://github.com/Ramlov/">AAU Group 251</a></p>
    </footer>
</body>
</html>
