<!DOCTYPE html>
<html>
<head>
  <title>Schedule Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="icon" href="{{ url_for('favicon') }}" type="image/x-icon">
</head>
<body>
<header>
    <nav>
        <div class="logo"><a href="/">Heat Pump Dashboard</a></div>
        <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/chart">Usage</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/settings">Settings</a></li>
        </ul>
    </nav>
</header>
<div class="container mt-5">
    <h1 class="mb-4">Settings Page</h1>
    <div class="vertical-align">
        <div class="row">
            <div class="col-md-4">
                <fieldset>
                    <legend>API</legend>
                    <label for="client_id">Client ID:</label>
                    <input type="text" name="client_id" value="{{ config.api.client_id }}"><br>

                    <label for="client_secret">Client Secret:</label>
                    <input type="text" name="client_secret" value="{{ config.api.client_secret }}"><br>

                    <label for="system_id">System ID:</label>
                    <input type="text" name="system_id" value="{{ config.api.system_id }}"><br>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset>
                    <legend>Network</legend>
                    <label for="ssid">WIFI Name:</label>
                    <input type="text" name="ssid" value="{{ config.network.ssid }}"><br>

                    <label for="psk">WIFI Password:</label>
                    <input type="text" name="psk" value="{{ config.network.psk }}"><br>

                    <label for="discord_webhook_url">Discord Webhook URL:</label>
                    <input type="text" name="discord_webhook_url" value="{{ config.network.discord_webhook_url }}"><br>
                </fieldset>
            </div>
            <div class="col-md-4">
                <fieldset>
                    <legend>Raspberry Pi</legend>
                    <label for="pulse_pin">Pulse Pin:</label>
                    <input type="text" name="pulse_pin" value="{{ config.raspberrypi.pulse_pin }}"><br>

                    <label for="update_interval">Update Interval:</label>
                    <input type="text" name="update_interval" value="{{ config.raspberrypi.update_interval }}"><br>
                </fieldset>
            </div>
        </div>
        <input type="submit" value="Save" class="save-button">
    </div>
    
</div>

<footer>
    <p>&copy; <a href="https://github.com/Ramlov/">Mathias Ramlov</a></p>
</footer>
</body>
</html>
