<!DOCTYPE html>
<html>
<head>
    <title>Heat Pump Control Panel</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Heat Pump Control Panel</h1>

    <div class="margin">
        <!--Energy consumption-->
        <div class="box">
            <p class="navboxpara" style="margin-top: 12px;"> Udendørs temp: {{ udendors_temperatur }}</a></p>
           
        </div>

            <!--Savings-->
        <div class="box">
            <p class="navboxpara"><a class="navboxpara" href="./savings/index.html" style="margin-top: 12px;">An overview of your savings using the product</a></p>
        </div>

        <!--Energy Prices-->
        <div class="box">
            <p class="navboxpara"><a class="navboxpara" href="./energy_prices/index.html" style="margin-top: 24px;">The current energy prices</a></p>
        </div>

        <!--Heating Schedule-->
        <div class="box">
            <p class="navboxpara"><a class="navboxpara" href="./heating_schedule/index.html" style="margin-top: 12px;">Your heating schedule for the day based on the current energy prices</a></p>
        </div>

        <!--Settings-->
        <div class="box">
            <form action="/" method="post">       
                <br>
                <label for="temp">Temperature:</label>
                <input type="range" id="temp" name="temp" min="-10" max="10" value="{{ varme_temperatur }}", oninput="document.getElementById('temp-value').innerHTML = this.value;">
                <span id="temp-value">{{ varme_temperatur }}</span>
                <input type="hidden" name="submitted" value="true">
                <br>
                <input type="submit" name="submit" value="Submit">
                <button type="button" name="test" onclick="callFunction()">Call Function</button>
                <h1>{{ varme_temperatur }}</h1>        
            </div>
    </div>

    <!--Den fine hamburger menu-->
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
        <div>
            <ul>
                <li><a href='index.html'>Home</a></li>
                <li><a href='/chart'>Usage</a></li>
                <li><a href='#'>Placeholder</a></li>
                <li><a href='#'>Placeholder</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
